<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1>Order Details</h1>

<p><strong>Customer ID</strong><br><%=@order.customer_id%></p>
<p><strong>Customre Name</strong><br><%=@order.customer_name%></p>
<p><strong>Sipping Address</strong><br><%=@order.shipping_address%></p>
<p><strong>Order Amount</strong><br><%=@order.order_amount%></p>
<p><strong>Order Email</strong><br><%=@order.order_email%></p>
<p><strong>Order Date</strong><br><%=@order.order_date%></p>
<p><strong>Status</strong><br><%=@order.status%></p>

<div class="row">
  	<div>
	<%= link_to "Back", admin_orders_path, class: 'btn btn-primary'%>
	</div>
</div>
 


