<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<div class="jumbotron">
  <h1 class="display-4">Welcome to e-Store</h1>
  <p class="lead">e-Store management dashboard for Admin</p>
  <hr class="my-4">
  <p>Please login to continue to the dashboard</p>
</div>

<% if current_user%>
<p>Hello<%= current_user.email%>!</p>
<p>You are a [<%= current_user.role %>]</p>
<p>
  You have successfully authenticated with your Devise account <br>
  You are now ready to interact with this application.
</p>
<%=link_to "Sign out",destroy_user_session_path,'data-turbo-method': :delete %>
<% else %>
<p>You're not signed in</p>
<p>
<%= link_to "Sign up", new_user_registration_path %>
<br>
<%=link_to "Log in", new_user_session_path %>
</p>
<%end%>