<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<%= form_for [:admin, product] do |form| %>
  <div class="mb-3">
  	<%= form.label :name, class: "form-label"%><br>
  	<%= form.text_field :name, class: "form-control"%>
  </div>
  <div class="mb-3">
  	<%= form.label :description, class: "form-label"%><br>
  	<%= form.text_field :description, class: "form-control"%>
  </div>
  <div class="mb-3">
  	<%= form.label :stock, class: "form-label"%><br>
  	<%= form.number_field :stock, class: "form-control"%>
  </div>

  <div class="mb-3">
  	<%= form.label :sku, class: "form-label"%><br>
  	<%= form.text_field :sku, class: "form-control"%>
  </div>
    <div class="mb-3">
  	<%= form.label :price, class: "form-label"%><br>
  	<%= form.number_field :price, class: "form-control"%>
  </div>
    <div class="mb-3">
  	<%= form.label :weight, class: "form-label"%><br>
  	<%= form.number_field :weight, class: "form-control"%>
  </div>
    <div class="mb-3">
  	<%= form.label :create_date, class: "form-label"%><br>
  	<%= form.date_field :create_date, class: "form-control"%>
  </div>
  <%= form.submit class: "btn btn-primary"%>
  <%= link_to 'Back', admin_products_path, class: "btn btn-secondary"%>
<% end %>

