<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1>Products</h1>

		
		<div>
			<%= link_to 'Create New', new_admin_product_path, class: 'btn btn-primary' %>
		</div>	
	</div>
	<table>
		<thead>
			<table class="w3-table-all">
			<tr class="w3-light-grey w3-hover-grey">
				<th>Name</th>
				<th>Description</th>
				<th>Stock</th>
				<th>SKU</th>
				<th>Price</th>
				<th>Weight</th>
				<th>Date</th>
				<th>Category</th>
				<th colspan = '3'>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
			<tr class="w3-hover-grey">
				<td> <%= product.name %> </td>
				<td> <%= product.description %> </td>
				<td> <%= product.stock %> </td>
				<td> <%= product.sku%> </td>
				<td> <%= product.price %> </td>
				<td> <%= product.weight%> </td>
				<td> <%= product.create_date%> </td>
				<td> <%= product.category%> </td>
				<td><%= link_to 'View', admin_product_url(product), class: 'btn btn-light'%></td>
				<td><%= link_to 'Edit', edit_admin_product_url(product), class: 'btn btn-warning' %></td>
				<td><%= link_to 'Delete', admin_product_url(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %></td>
			</tr>
			<% end %>
		</tbody>
	</table> 



	