<div class="container">
  <div class="row align-items-start">

    <div class="col">
    	<h3>Name:</h3>
      	<%=@product.name%>
    </div>
    <div class="col">
    	<h3>Description:</h3>
     	<%=@product.description%>
    </div>
    <div class="col">
    	<h3>Stock:</h3>
     	<%=@product.stock%>
    </div>
    <div class="col">
    	<h3>SKU:</h3>
     	<%=@product.sku%>
    </div>
    <div class="col">
    	<h3>Price:</h3>
     	<%=@product.price%>
    </div>
    <div class="col">
    	<h3>Weight:</h3>
     	<%=@product.weight%>
    </div>
    <div class="col">
    	<h3>Date:</h3>
     	<%=@product.create_date%>
    </div>

    <div class="row align-items-start">
  		<div>
		<%= link_to "Edit", edit_admin_product_path, class: 'btn btn-secondary'%>
		</div>
	</div>
	<div class="row align-items-end">
  		<div>
		<%= link_to "Back", admin_products_path, class: 'btn btn-primary'%>
		</div>
	</div>
</div>