<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="container-fluid">
<h1><%=@product.name%></h1>

<p><strong>Name</strong><br><%=@product.name%></p>
<p><strong>Description</strong><br><%=@product.description%></p>
<p><strong>Quantity</strong><br><%=@product.stock%></p>
<p><strong>SKU</strong><br><%=@product.sku%></p>
<p><strong>Price</strong><br><%=@product.price%></p>
<p><strong>Weight</strong><br><%=@product.weight%></p>
<p><strong>Date</strong><br><%=@product.create_date%></p>
<p><strong>Category</strong><br><%=@product.category%></p>

	<div class="row">
  		<div>
		<%= link_to "Edit", edit_admin_product_path, class: 'btn btn-secondary'%>
		</div>
	</div>
	<div class="row">
  		<div>
		<%= link_to "Back", admin_products_path, class: 'btn btn-primary'%>
		</div>
	</div>
</div>